<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true" bootstrap="./vendor/autoload.php">
  <testsuites>
    <testsuite name="Imgix Lib Test Suite">
      <directory>./tests/*</directory>
    </testsuite>
  </testsuites>

<logging>
  <log type="coverage-clover" target="./build/logs/clover.xml"/>
</logging>

  <filter>
    <whitelist>
      <directory>./</directory>
      <exclude>
        <directory>./src/Model</directory>
        <directory>./tests</directory>
        <directory>./vendor</directory>
      </exclude>
    </whitelist>
  </filter>
</phpunit>
